:root{
    --cinza: #282a36;
    --verde: #50fa7b;
    --roxo: #bd93f9;
    --rosa: #ff79c6;
    --azul: #8be9fd;
    --texto: #f8f8f2;
    --vermelho:#E50914;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--texto);
    background-color: var(--cinza);
    font-family: 'Times New Roman', Times, serif;
}

header .logo{
    margin-left: 12px;
    color: var(--vermelho);
    font-family: "Arial Black" , times;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;

}

header nav a{
    text-decoration: none;
    color: var(--azul);
    margin-right: 10px;
}

header nav a:hover{
    color: var(--texto) ;
}

.artigo-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/jontuber.jpg);
    
    height: 400px;
    max-height: 400px;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.artigo-principal .descricao{
    margin-top: 2%;
    margin-bottom: 10%;
}

.titulo{
    margin-top: 15%;
    color: var(--verde);
    font-size: 130%;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: var(--azul);
    
    padding: 15px;
    margin-right: 15px;
    cursor: pointer;
    transition: .2s ease all;
}

.botao:hover{
    background-color: var(--cinza);
    color: var(--rosa);
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.artigo-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes{
    margin-top: 0%;
}

.novidades{
    justify-content: center;
    text-align: center;
    color:var(--roxo)
}